:root {
  --color-primary: #3A59D1;
  --color-secondary: #7AC6D2;
  --color-background: #f2f5f7;
  --color-on-primary: #ffffff;
  --color-on-secondary: #3A59D1;
  --color-on-background: #98a2af;
  --button-color: var(--color-primary);
  --hover-button-color: var(--color-secondary);
  --color-error-text: red;
  --small-spacing: 5px;
  --medium-spacing: 10px;
  --large-spacing: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Reset & basic layout */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 1em;
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Headings */
h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 1em;
}

/* Auth/Input Fields */
.form-text-input {
  width: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  font-size: 16px;
  color: var(--color-on-primary);
  padding: 0 16px;
  margin: 15px 0;
}

.form-text-input::placeholder {
  color: var(--color-on-primary);
}

/* Auth/Form Button */
.form-button {
  display: block;
  width: 100%;
  height: 45px;
  background: var(--color-on-primary);
  color: var(--color-on-secondary);
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

/* Auth/Form Container */
.bordered-form {
  width: 420px;
  background: var(--color-on-secondary);
  color: var(--color-on-primary);
  border: 2px solid var(--color-on-background);
  padding: 2em;
  border-radius: 2em;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

/* Password Row */
.password-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -10px 0 20px;
  color: var(--color-on-primary);
}

input:not(.show-password) {
  height: 2em;
}

/* Links */
a,
a.fake-link,
a.fake-link:visited {
  text-align: right;
  color: var(--color-on-primary);
  text-decoration: none;
  display: block;
}

a:hover,
.fake-link:hover {
  text-decoration: underline;
}

.fake-link {
  color: var(--color-on-primary);
  text-decoration: underline;
  cursor: pointer;
}

/* Misc */
.circle-image {
  border-radius: 50%;
}

.center-image-container {
  text-align: center;
}

.center-text {
  text-align: center;
  font-size: 14.5px;
  margin: 20px 0 15px;
}

.left-align-text {
  text-align: start;
}

#login-page {
  display: block;
}
